<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="AssetPath" value="D:\\Escola\Licenciatura\\4º Ano\\1º Semestre\\Progig\\Projeto\\beyblade\\Assets\\Sounds\\"/>
	</appSettings>
</configuration>

